

body{
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,255,234,1) 35%, rgba(0,212,255,1) 100%);
}




#title{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: #ff0000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    
}
#b1{
    width: 120px;
    height: 60px;
    background-color: rgb(0, 255, 4);
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: rgb(0, 64, 255);
    border-width: 3px;
}




.col-4.sem{
        display: flex;
        justify-content: center; 
}
.semaforo{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 320px;
    padding: 20px;
    border-radius: 60px;
    background-color: #282928;
}



/*

.light{
    width:70px;
    height:70px;
    border-radius: 100%;
    background: rgb(125,125,125);
    background: linear-gradient(90deg, rgba(125,125,125,1) 0%, rgba(94,94,94,1) 100%);  
}

*/





#b2{
    width: 120px;
    height: 60px;
    background-color: yellow;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    border-color: red;
    border-width: 5px;
}
img{
    top: -60px;
    left: 120px;
    rotate: -90deg;
    width: 60px;
    height: 60px;
}
.col-4.offset-4{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}




.col-4.regole{
    display: flex;
    align-items: center;
    margin-top: 90px;
}
p{
    background: rgb(255,173,0);
    background: linear-gradient(90deg, rgba(255,173,0,1) 0%, rgba(251,209,0,1) 100%);

    padding: 20px;
    border: solid 9px;
    border-radius: 10px;
    border-color: rgb(0, 110, 255);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    

    
    
    
    
}
span{
    color: #ff0000;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.light{
    width:70px;
    height:70px;
    border-radius: 100%;
    opacity: 0.2;
}

.light.green{
    background-color: #1fb51f;
    box-shadow: 0px 0px 15px 5px #1fb51f;
}

.light.red{
    background-color: red;
    box-shadow: 0px 0px 15px 5px #ff0000;  
}

.light.yellow{
    background-color: yellow;
    box-shadow: 0px 0px 15px 5px #f2e233;
}

.light.current{
    opacity: 1;
}



