
.luce{
    background: rgb(125,125,125);
    background: linear-gradient(90deg, rgba(125,125,125,1) 0%, rgba(94,94,94,1) 100%);
}

.light1.red{
    
    width:70px;
    height:70px;
    border-radius: 100%;
    background-color: red;
    box-shadow: 0px 0px 15px 5px #ff0000;  
}

.light2.yellow{
    width:70px;
    height:70px;
    border-radius: 100%;
    background-color: yellow;
    box-shadow: 0px 0px 15px 5px #f2e233;
}

.light3.green{
    width:70px;
    height:70px;
    border-radius: 100%;
    background-color: #1fb51f;
    box-shadow: 0px 0px 15px 5px #1fb51f;
}

.light1{
    width:70px;
    height:70px;
    border-radius: 100%;
      
}
.light2{
    width:70px;
    height:70px;
    border-radius: 100%;
    
}
.light3{
    width:70px;
    height:70px;
    border-radius: 100%;
     
}